/*General*/
* {
    box-sizing: border-box;
}

:root {
    background-color: #DAD9DB;
}

a,a:visited {
    color: inherit
}

h6 {
    font-size: 0.7em;
}

body,
html {
    height: 100%;
    margin: 0;
}

/*Fonts*/
@font-face {
    font-family: "dolce vita normal";
    src: url("/fonts/Dolce Vita.tff") format(truetype);
  }
  
@font-face {
    font-family: "dolce vita light";
    src: url("/fonts/Dolce Vita Light.tff") format(truetype);
}

@font-face {
    font-family: "dolce vita bold";
    src: url("/fonts/Dolce Vita Heavy Bold.tff") format(truetype);
}

h2{
    font-weight: bold;
    font-size: 1.5em;
}

h2,
li {
    color: #666;
    font-family: 'dolce vita normal'
}

img {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 200%;
    max-width: 200%;
}

.background-img {
    /* The image used */
    background-image: url("/TestingRepoAccount.github.io/images/filmframe_brown_default.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}