/*General*/
* {
    box-sizing: border-box;
}

:root {
    background-color: #DAD9DB;
}

a,a:visited {
    color: inherit
}

h6 {
    font-size: 0.7em;
}

main > article {
    text-align: center;
}

/*Fonts*/
@font-face {
    font-family: "dolce vita normal";
    src: url("/fonts/Dolce Vita.tff") format(truetype);
  }
  
@font-face {
    font-family: "dolce vita light";
    src: url("/fonts/Dolce Vita Light.tff") format(truetype);
}

@font-face {
    font-family: "dolce vita bold";
    src: url("/fonts/Dolce Vita Heavy Bold.tff") format(truetype);
}


/*Home page*/
#home-img {
    width: 49.5%;
    min-width: 550px;;
    height: auto;
    margin-top: -100px;
    margin-left: -100px;
    vertical-align: middle;
}

#home-img,
#home-nav {
    display: inline-block;
}

#home-nav {
    margin-left: -150px;
}

#home-nav li:hover {
    font-weight: bold;
    cursor: pointer;
}

#home-nav li {
    display: inline-block;
    color: #000;
    font-family: "dolce vita normal";
    font-style: italic;
    font-size: 19.2px;
    margin-right: 40px;
}

#process > article {
    width: 70%;
    max-width: 70%;
    padding: 15px 5px 0px 5px;
    background-color: #000;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
}

/* #process # */
.border-section li {
    margin-top:  2px;
    margin-bottom: 2px;
}

.article-list li {
    display: inline-block;
    margin-right: 30px;
}

#process #border-img {
    width: 90%;
    /* max-width: 6%; */
    /* width: 70px; */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 5px;
    margin-bottom: 5px;
}

#process section {
    display: inline-block;
}

.border-section {
    width: 7%;
}

#article-body {
    padding: 5px;
    width: 85%;
    text-align: center;
}

#article-body img {
    width: 50%;
    max-width: 50%;
    margin: 20px 0;
}

#article-body p {
    color: #ddd;
    font-size: .9em;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 40px;
    margin-top: 0;
}

#article-body h6 {
    margin-bottom: 10px;
}

#article-body h2,
#article-body h4,
#article-body h6 {
    font-weight: bold;
}

#article-body h2,
#article-body h4,
#article-body h6,
#article-body li {
    color: #666;
}

/*Results Page*/
.vert-menu {
    margin-top: 30px;
}

.vert-menu > ul li {
    display: inline-block;
    margin-right: 100px;
}

.vert-menu ul li > h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.vert-menu li > a {
    display: block;
    margin-bottom: 20px;
}