/*General*/
* {
    box-sizing: border-box;
}

:root {
    /* background-color: #F0EFF2; */
    background-color: #2E7C7C;
}

/*Home*/
#home ul {
    margin-left: -65%;
    margin-top: -50px;
}

#home li {
    color: #000;
    display: inline-block;
    font-family: 'dolce vita normal.tff';
    font-size: 1.3em;
    font-style: italic;
    margin: 0 10px;
    /* border-bottom: 5px dashed #F0EFF2; */
    padding: 7px;
}

/* #home li:hover {
    /* color: #262626; */
    /* border-bottom: 3px dashed red; */
} */

img {
    /* margin-top: -90px;
    margin-left: -90px; */
}

/*Fonts*/
@font-face {
    font-family: 'dolce vita normal';
    src: url('fonts/Dolce Vita.tff') format(truetype);
}

@font-face {
    font-family: 'dolce vita light';
    src: url('fonts/Dolce Vita Light.tff') format(truetype);
}

@font-face {
    font-family: 'dolce vita bold';
    src: url('fonts/Dolce Vita Heavy Bold.tff') format(truetype);
}