/*General*/
* {
  box-sizing: border-box;
}

:root {
  background-color: #dbdadc;
}

a {
  color: inherit;
}

/*Home*/
#home ul {
  margin-left: -30%;
  margin-top: -50px;
}

#home li {
  display: inline-block;
  font-family: "dolce vita normal.tff";
  font-size: 1.2em;
  font-style: italic;
  margin: 0 10px;
  /* border-bottom: 5px dashed #F0EFF2; */
  padding: 7px;
}

#home li,
#home a {
  color: #000;
}

#home li::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  /* color: red; */
}

img {
  position: static;
  /* margin-bottom: -500px; */
}

/*Body*/
/* h2 {
    font-size: 1.4em;
} */

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 0.7em;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #666;
  line-height: 1.3;
}

.center-align {
  /* text-align: center; */
}

article {
  width: 70%;
  max-width: 70%;
  background-color: #000;
  padding: 20px 40px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 40px;
  color: #ddd;
  line-height: 1.5;
}

article p {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 0.9em;
  /* text-align: center; */
  text-align: justify;
}

article img {
  display: block;
  margin: 30px auto;
  width: 50%;
  max-width: 50%;
  height: auto;
}

.sort-tags {
  text-align: center;
  color: #666;
}

.sort-tags li {
  cursor: pointer;
  display: inline-block;
  margin: 10px;
}

/*Fonts*/
@font-face {
  font-family: "dolce vita normal";
  src: url("fonts/Dolce Vita.tff") format(truetype);
}

@font-face {
  font-family: "dolce vita light";
  src: url("fonts/Dolce Vita Light.tff") format(truetype);
}

@font-face {
  font-family: "dolce vita bold";
  src: url("fonts/Dolce Vita Heavy Bold.tff") format(truetype);
}
