/*General*/
* {
    box-sizing: border-box;
}

:root {
    /* background-color: #F0EFF2; */
}

/*Home*/
#home ul {
    margin-left: -250px;
}

#home li {
    display: inline-block;
    font-size: 1.2em;
    font-style: italic;
    margin: 0 40px;
}

#home li:hover {
    color: #262626;
}

img {
    width: 75%;
    max-width: 75%:
}

/* #4a4a4a */
/* #4B4B4B */