main article {
    width: 50%;
    height: 200px;
    padding: 10px;
    background-image: url("/images/filmframe_brown.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}