    /*General*/
* {
    box-sizing: border-box;
}

:root {
    background-color: #DAD9DB;
}

a,a:visited {
    color: inherit
}

h6 {
    font-size: 1rem;
    padding-bottom: 40px;
    margin-bottom: 0 !important;
}

/* h4 */

main > article {
    text-align: center;
    /* border-bottom: 1px dotted #ccc; */
    padding-bottom: 50px !important;
    width: 100%;
    display: flex;
}

body,
main,
main > article {
    height: 100%;
    overflow: auto;
    text-align: center;
    background-image: url(../images/filmframe_brown.jpg);
    background-size: 100% 100%;
}
main *{
    text-align: center;
}
table{
    background-color: black !important;
    color: #ddd !important;
}
table td{
    border: none !important;
}
/*Fonts*/
@font-face {
    font-family: "dolce vita normal";
    src: url("/fonts/Dolce Vita.tff") format(truetype);
  }
  
@font-face {
    font-family: "dolce vita light";
    src: url("/fonts/Dolce Vita Light.tff") format(truetype);
}

@font-face {
    font-family: "dolce vita bold";
    src: url("/fonts/Dolce Vita Heavy Bold.tff") format(truetype);
}


/*Home page*/
#home-img {
    width: 49.5%;
    min-width: 550px;;
    height: auto;
    margin-top: -100px;
    margin-left: -100px;
    vertical-align: middle;
}

#home-img,
#home-nav {
    display: inline-block;
}

/*Align text right ubove ridge about half an inch*/
#home-nav {
    margin-left: -64px;
    position: relative;
    top: -25px;
    /* margin-top: -5000px; */
    /* padding-top: -100px; */
}

#home-nav li:hover {
    font-weight: bold;
    cursor: pointer;
}

#home-nav li {
    display: inline-block;
    color: #000;
    font-family: "dolce vita normal";
    font-style: italic;
    font-size: 19.2px;
    margin-right: 40px;
}

#process > article {
    width: 80%;
    max-width: 80%;
    padding: 15px 5px 0px 5px;
    background-color: #000;
    /* border-bottom: 2px dashed white; */
    margin: 0 auto;
    /* margin-bottom: 10px; */
    text-align: center;
}

/* #process # */
.border-section li {
    margin-top:  2px;
    margin-bottom: 2px;
}

.article-list {
    border-bottom: 1px dotted #fff;
    border-top: 1px solid #333; 
    padding-bottom: 10px;
    text-align: center;
}

.article-list li {
    display: inline-block;
    margin-right: 30px;
    font-size: .7em;
}

#process #border-img {
    width: 80%;
    /* max-width: 6%; */
    /* width: 70px; */
    margin-top: 40px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-bottom: 5px;
    margin-right: -20px;
    /* padding-left: 20px; */
}

#process section {
    /* display: inline-block; */
}

.border-section {
    background-image: url('../images/film.jpg');
    background-repeat: repeat-y;
    width: 70px;
    vertical-align: top;
    margin-left: 20px;
}

#article-body {
    float: left;
    padding: 5px;
    width: 85%;
    /* margin-left: -70px; */
    text-align: center;
    border-left: 1px solid #333;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #333;
}

#article-body img {
    width: 50%;
    max-width: 50%;
    display: block;
    /* margin: 20px 0; */
    margin: 40px auto;
}

#article-body p, div {
    color: #ddd;
    font-size: .9em;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 40px;
    margin-top: 0;
}

#article-body h6 {
    margin-bottom: 10px;
}

#article-body h2,
#article-body h4,
#article-body h6 {
    font-weight: bold;
}

#article-body h2,
#article-body h4,
#article-body h6,
#article-body li {
    color: #666;
}

#article-body h2,
#article-body h4 {
    text-align: left;
}

.article-title {
    margin-bottom: 10px;
}

.article-title h4 {
    font-size: 0.8em !important;
}

.article-section:not(:last-child) {
    margin-bottom: 100px;
}

/*Results Page*/
.vert-menu {
    margin-top: 30px;
}

.vert-menu > ul li {
    display: inline-block;
    margin-right: 100px;
}

.vert-menu ul li > h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.vert-menu li > a {
    display: block;
    margin-bottom: 20px;
}