/*General*/
* {
    box-sizing: border-box;
}

a,
a:visited {
    color: inherit
}

h6 {
    font-size: 0.7em;
}

h1 {
    color: red;
}

h2{
    font-weight: bold;
    font-size: 1.5em;
}

h2,
li {
    color: #666;
    font-family: 'dolce vita normal'
}

body,
html {
    height: 100%;
    margin: 0;
}

/*Classes*/
.list-group {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    background-color: #F2C99B;
    width: 70%;
}

.list-group ul {
    margin-bottom: 50px;
    margin-top: 10px;
}

.list-group li:hover{
    opacity: 0.5;
    cursor: pointer;
}

.center-text {
    text-align: center;
}

.story-cover img {
    width: 200px;
    max-width: 200px;
    margin: 0 auto;
    /* height: auto; */
}

/*Iframe / Video*/
iframe {
    width: 500px;
    height: 400px;
}

/*Fonts*/
@font-face {
    font-family: "dolce vita normal";
    src: url("/fonts/Dolce Vita.tff") format(truetype);
  }
  
@font-face {
    font-family: "dolce vita light";
    src: url("/fonts/Dolce Vita Light.tff") format(truetype);
}

@font-face {
    font-family: "dolce vita bold";
    src: url("/fonts/Dolce Vita Heavy Bold.tff") format(truetype);
}

ul{
    text-align: center
}
li div{
    display: inline;
}
li[data-mutable]{
    display: inline;
}